<div class="outer-container">
  <div class="inner-container">
    <div class="header">
      <h1 class="title">Get a Random NYTimes Recipe</h1>
      <div class="button-wrapper">
        <button class="button" (click)="goToRandomRecipe()">
          Go to Random Recipe
        </button>
        <button class="button" (click)="generateRandomRecipeList()">
          Generate a list of 5 random recipes
        </button>
      </div>
    </div>
    <div class="recipe-list">
      <div *ngFor="let item of recipeList">
        <a href="{{ item.URL }}">{{ item.Title }}</a>
      </div>
    </div>
  </div>
</div>
